$color: (
  moderateViolet: hsl(263, 55%, 52%),
  darkGrayishBlue: hsl(217, 19%, 35%),
  darkBlackishBlue: hsl(219, 29%, 14%),
  white: hsl(0, 0, 100%),
  lightGray: hsl(0, 0%, 81%),
  lightGrayBlue: hsl(210, 46%, 95%)
);

$font_size: (
  normal: 16px,
  medium: 1.5em
);









